$primary:    #5755d9;
$secondary:  #2ecc71;
$danger:     #e74c3c;
$light:      #f5f5fd;
$dark:       rgb(25, 28, 35);

.page-home {
  .scroll-content {
    height: 100%;
    overflow: hidden;
  }

  #map {
    width: 100%;
    height: 100%;
  }
}

ion-header {
  ion-navbar {
    ion-title {
      ion-icon {
        font-size: 45px;
      }
    }
  }
}

ion-footer {
  ion-navbar {
    height: 55px;

    button {
      width: 60px;
      color: #FFF !important;
      padding: 20px 10px !important;

      &.btn-accident {
        background-color: $danger !important;
        position: absolute;
        right: 20px;
        top: 0;
      }

      &.btn-itineraire {
        background-color: $primary !important;
        position: absolute;
        left: 20px;
        top: 0;
      }

      ion-icon {
        font-size: 25px;
      }
    }
  }
}

.toast-accident>div {
  margin-top: 80px !important;
  text-align: center;
  background-color: transparentize($dark, 0.1) !important;
}